@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background-color: #395B64;
    font-family: 'VT323', monospace;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 3rem 6rem 3rem;
}

header h1 {
	font-size: 4rem;
}

header .links {
	font-size: 2rem;
	list-style: none;
}

header .links a {
    text-decoration: none;
}

header .links a li {
    color: white;
    transition: .4s;
	padding: 0.75rem;
}

header .links a li:hover {
	background-color: #A5C9CA;
	margin: .25rem 0 .25rem 0;
	border-radius: .25rem
}

main {
    background-color: #A5C9CA;
    border-radius: .25rem;
    font-family: 'Share Tech', sans-serif;
    width: 85%;
    padding: 1rem 2rem 1rem 2rem;
    margin: auto;
    margin-top: -5rem;
}

.student-image {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.student-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

div.text-content {
    width: 50%;
}